<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>盛方阅卷系统-学校信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<script src="/layui/layui.js"></script>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台管理</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="">控制台</a>
            </li>
            <li class="layui-nav-item">
                <a href="">商品管理</a>
            </li>
            <li class="layui-nav-item">
                <a href="">用户</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 管理员
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">基础信息配置</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/area/area_page">学区信息</a>
                        </dd>
                        <dd class="layui-this">
                            <a href="/school/school_page">学校信息</a>
                        </dd>
                        <dd>
                            <a href="/grade/grade_page">年级信息</a>
                        </dd>
                        <dd>
                            <a href="/class/class_page">班级信息</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">教师信息配置</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">学生信息配置</a>
                </li>
            </ul>
        </div>
    </div>
    <!--页面标签-->

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--学校信息-->
            <div class="">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>学校信息导入</legend>
                </fieldset>
                <form class="layui-form" action="" lay-filter="school_form">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input name="name" id="name" lay-verify="required" placeholder="请输入学校名称"
                                   autocomplete="off"
                                   class="layui-input" type="text" style="width: 400px;">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

                <div class="layui-btn-group demoTable">
                    <button class="layui-btn" data-type="deleteRecord">批量删除</button>
                    <button class="layui-btn" data-type="saveRecord">批量导入</button>
                </div>
                <!--学区表单-->
                <table class="layui-table" lay-filter="schooltable" id="schooltable">
                </table>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>

                <script src="/layui/layui.js" charset="utf-8"></script>
                <script>
                    layui.use(['table', 'form', 'layer', 'jquery'], function () {
                        var table = layui.table;
                        var form = layui.form;
                        var layer = layui.layer;
                        var $ = jQuery = layui.$;
                        var name = $("#name");
                        form.on('submit(school_form)', function (data) {
                            $.ajax({
                                url: "/school/saveschool",
                                data: {name: name.val()},
                                success: function (data) {
                                    layer.msg('添加成功', {
                                        icon: 1,
                                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                    }, function () {
                                        trender.reload();
                                    });
                                }
                            })
                            return false;
                        });

                        var trender = table.render({
                            elem: '#schooltable'
                            , height: 472
                            , width: 800
                            , url: '/school/listschool' //数据接口
                            , page: true //开启分页
                            , cols: [
                                [ //表头
                                    {fixed: "left", type: 'checkbox'}
                                    , {field: 'aid', title: 'ID', sort: true, fixed: 'left'}
                                    , {field: 'name', title: '用户名'}
                                    , {fixed: 'right', align: 'center', toolbar: '#barDemo'}
                                ]
                            ]
                        });

                        var $ = layui.$, active = {
                            deleteRecord: function () { //获取选中数据
                                var checkStatus = table.checkStatus('schooltable')
                                    , data = checkStatus.data;
                                var arr = new Array();
                                for (var i = 0; i < data.length; i++) {
                                    arr.push(data[i]);
                                }
                                alert(arr);
                                $.ajax({
                                    url: "/school/batchput",
                                    data: JSON.stringify(arr),
                                    type: "POST",
                                    dataType: "json",
                                    contentType: "application/json",
                                    success: function () {
                                        layer.msg('添加成功', {
                                            icon: 1,
                                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                        }, function () {
                                            trender.reload();
                                        });
                                    }
                                })
                            }
                            , saveRecord: function () { //获取选中数目
                                var checkStatus = table.checkStatus('schooltable')
                                    , data = checkStatus.data;
                                layer.msg('选中了：' + data.length + ' 个');
                            }
                        };

                        $('.demoTable .layui-btn').on('click', function () {
                            var type = $(this).data('type');
                            active[type] ? active[type].call(this) : '';
                        });

                        table.on('tool(schooltable)', function (obj) {
                            var data = obj.data;
                            if (obj.event === 'del') {
                                layer.confirm('真的删除行么', function (index) {
                                    obj.del();
                                    layer.close(index);
                                });
                            } else if (obj.event === 'edit') {
                                layer.alert('编辑行：<br>' + JSON.stringify(data))
                            }
                        });
                    })
                </script>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <span>© 盛方网上阅卷系统</span>
    </div>
</div>

<script>
    layui.use('element', function () {
        var element = layui.element;
    });
</script>
</body>
</html>

