<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.edu.mapper.ClassMapper">
  <resultMap id="BaseResultMap" type="com.sf.edu.entity.Class">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    cid, gid, tid, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <select id="selectAllRecords" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from class
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
        select count(cid)
        from class
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where cid = #{cid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteRecordsByPrimaryKey" parameterType="java.util.List">
    delete from class
    where cid in
    <foreach collection="list" item="cid" index="index" open="(" separator="," close=")">
      #{cid,jdbcType=INTEGER}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.sf.edu.entity.Class">
    insert into class (cid, gid, tid, 
      name)
    values (#{cid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{tid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.edu.entity.Class">
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertRecords" parameterType="com.sf.edu.entity.Class">
    insert into class
    (gid,tid,name)
    VALUES
    <foreach collection="list" item="class" separator=",">
      (#{class.gid},#{class.tid},#{class.name})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.edu.entity.Class">
    update class
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.edu.entity.Class">
    update class
    set gid = #{gid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>