<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.edu.mapper.GradeMapper">
  <resultMap id="BaseResultMap" type="com.sf.edu.entity.Grade">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, sid, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grade
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <select id="selectAllRecords" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from grade
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
        select count(gid)
        from grade
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grade
    where gid = #{gid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteRecordsByPrimaryKey" parameterType="java.util.List">
    delete from grade
    where gid in
    <foreach collection="list" item="gid" index="index" open="(" separator="," close=")">
      #{gid,jdbcType=INTEGER}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.sf.edu.entity.Grade">
    insert into grade (gid, sid, name
      )
    values (#{gid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sf.edu.entity.Grade">
    insert into grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertRecords" parameterType="com.sf.edu.entity.Grade">
    insert into grade
    (sid,name)
    VALUES
    <foreach collection="list" item="grade" separator=",">
      (#{grade.sid},#{grade.name})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.edu.entity.Grade">
    update grade
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.edu.entity.Grade">
    update grade
    set sid = #{sid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=INTEGER}
  </update>
</mapper>