<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.edu.mapper.S_TermMapper">
  <resultMap id="BaseResultMap" type="com.sf.edu.entity.S_Term">
    <id column="smid" jdbcType="VARCHAR" property="smid" />
    <result column="yid" jdbcType="VARCHAR" property="yid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    smid, yid, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_term
    where smid = #{smid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_term
    where smid = #{smid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sf.edu.entity.S_Term">
    insert into s_term (smid, yid, name
      )
    values (#{smid,jdbcType=VARCHAR}, #{yid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sf.edu.entity.S_Term">
    insert into s_term
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="smid != null">
        smid,
      </if>
      <if test="yid != null">
        yid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="smid != null">
        #{smid,jdbcType=VARCHAR},
      </if>
      <if test="yid != null">
        #{yid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.edu.entity.S_Term">
    update s_term
    <set>
      <if test="yid != null">
        yid = #{yid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where smid = #{smid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.edu.entity.S_Term">
    update s_term
    set yid = #{yid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where smid = #{smid,jdbcType=VARCHAR}
  </update>
</mapper>