<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.edu.mapper.SchoolMapper">
    <resultMap id="BaseResultMap" type="com.sf.edu.entity.School">
        <id column="sid" jdbcType="INTEGER" property="sid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sid" jdbcType="INTEGER" property="sid"/>
    </resultMap>
    <sql id="Base_Column_List">
    sid, name, sid
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from school
        where sid = #{sid,jdbcType=INTEGER}
    </select>
    <select id="selectAllRecords" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from school
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(sid)
        from school
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from school
    where sid = #{sid,jdbcType=INTEGER}
  </delete>

    <delete id="deleteRecordsByPrimaryKey" parameterType="java.util.List">
        delete from school
        where sid in
        <foreach collection="list" item="sid" index="index" open="(" separator="," close=")">
            #{sid,jdbcType=INTEGER}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.sf.edu.entity.School">
    insert into school (sid, name)
    values (#{sid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.sf.edu.entity.School">
        insert into school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                sid,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertRecords" parameterType="com.sf.edu.entity.School">
        insert into school
        (name)
        VALUES
        <foreach collection="list" item="school" separator=",">
            (#{school.name})
        </foreach>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sf.edu.entity.School">
        update school
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where sid = #{sid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sf.edu.entity.School">
    update school
    set name = #{name,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>