<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.edu.mapper.St_AttrMapper">
  <resultMap id="BaseResultMap" type="com.sf.edu.entity.St_Attr">
    <id column="seq" jdbcType="VARCHAR" property="seq" />
    <result column="stid" jdbcType="VARCHAR" property="stid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    seq, stid, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_attr
    where seq = #{seq,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from st_attr
    where seq = #{seq,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sf.edu.entity.St_Attr">
    insert into st_attr (seq, stid, name
      )
    values (#{seq,jdbcType=VARCHAR}, #{stid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sf.edu.entity.St_Attr">
    insert into st_attr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seq != null">
        seq,
      </if>
      <if test="stid != null">
        stid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seq != null">
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="stid != null">
        #{stid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.edu.entity.St_Attr">
    update st_attr
    <set>
      <if test="stid != null">
        stid = #{stid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where seq = #{seq,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.edu.entity.St_Attr">
    update st_attr
    set stid = #{stid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where seq = #{seq,jdbcType=VARCHAR}
  </update>
</mapper>