<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.edu.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.sf.edu.entity.Teacher">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <select id="selectAllRecords" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from teacher
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
        select count(tid)
        from teacher
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteRecordsByPrimaryKey" parameterType="java.util.List">
    delete from teacher
    where tid in
    <foreach collection="list" item="tid" index="index" open="(" separator="," close=")">
      #{tid,jdbcType=INTEGER}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.sf.edu.entity.Teacher">
    insert into teacher (tid, name)
    values (#{tid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sf.edu.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertRecords" parameterType="com.sf.edu.entity.Teacher">
    insert into teacher
    (name)
    VALUES
    <foreach collection="list" item="teacher" separator=",">
      (#{teacher.name})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sf.edu.entity.Teacher">
    update teacher
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sf.edu.entity.Teacher">
    update teacher
    set name = #{name,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>